<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <%= link_to fa_icon("home lg", text: ""), root_path, class: "navbar-brand" %>
          </div>

          <div class="collapse navbar-collapse" id="top-navbar">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li><%= link_to fa_icon("plus-square-o lg"), new_workspace_path, data: { toggle: "tooltip", placement: "bottom", title: "New workspace" } %></li>
                <li><%= link_to fa_icon("list lg"), workspaces_path, data: { toggle: "tooltip", placement: "bottom", title: "List workspaces" } %></li>
                <li><%= link_to fa_icon("wrench lg"), edit_registration_path(:user), data: { toggle: "tooltip", placement: "bottom", title: "Edit profile" } %></li>
                <li><%= link_to fa_icon("sign-out lg"), destroy_user_session_path, method: :delete, data: { toggle: "tooltip", placement: "bottom", title: "Log out" } %></li>
              <% else %>
                <li><%= link_to "<strong>Sign up</strong>".html_safe, new_registration_path(:user), class: "btn btn-success" %></li>
                <li><%= link_to "<strong>Log in</strong>".html_safe, new_session_path(:user), class: "btn btn-default" %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
      <div class="row">
        <div class="col-sm-6 center">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> alert-dismissible" role="alert" data-dismiss="true">
              <%= button_tag "<span aria-hidden=\"true\">&times;</span>".html_safe, type: "button", class: "close", data: { dismiss: "alert" }, aria: { label: "Close" } %>
              <%= value %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
