<div class="col-sm-3">
  <%= expression.condition %>
</div>
<div class="col-sm-2">
  <%= expression.fpkm.round 2 %>
</div>
<div class="col-sm-2">
  <%= expression.tot_counts %>
</div>
<div class="col-sm-2">
  <%= expression.uniq_counts %>
</div>
<div class="col-sm-2">
  <%= expression.eff_counts.round 2 %>
</div>
<div class="col-sm-1"></div>
