<%= title("Sequences ‧ #{@current_workspace.name}") %>

<div class="col-sm-3"></div>
<div class="col-sm-6">
  <% if @sequences.empty? %>
    <div class="row">
      <div class="col-sm-7 center">
        <div class="alert alert-warning text-center", role="alert">
          <p>This workspace is empty.</p><br>
          <%= link_to "Import", new_workspace_sequence_path, class: "btn btn-primary", role: "button" %>
        </div>
      </div>
    </div>
  <% else %>
    <h3 class="text-center"><%= @current_workspace.name %></h3>
    <div class="row">
      <%= render "shared/pager" %>
    </div>
    <% @sequences.each do |sequence| %>
      <div class="row">
        <div class="col-sm-2">
          <%= sequence.type %>
        </div>

        <div class="col-sm-6">
          <%= link_to sequence.name, workspace_sequence_path(name: sequence.name) %>
        </div>

        <div class="col-sm-4">
          <%= pluralize sequence.children.length, "subsequence" %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <%= render "shared/pager" %>
    </div>
  <% end %>
</div>
<div class="col-sm-3"></div>
