<%= title("Sequences ‧ #{@current_workspace.name}") %>

<div class="col-sm-10 center">
  <% if @sequences.empty? %>
    <div class="row">
      <div class="col-sm-7 center">
        <div class="alert alert-warning text-center", role="alert">
          <p>This workspace is empty.</p><br>
          <%= link_to "Import", new_workspace_sequence_path, class: "btn btn-primary", role: "button" %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <%= render "shared/pager" %>
    </div>

    <div class="row">
      <div class="col-sm-8 center">
        <% @sequences.each do |sequence| %>
          <div class="row">
            <div class="col-sm-2">
              <%= sequence.type %>
            </div>

            <dic class="col-sm-4">
              <%= sequence.name %>
            </dic>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <%= render "shared/pager" %>
    </div>
  <% end %>
</div>
